In [1]:
import pandas as pd
import numpy as np

# Recordar!!! 
1. Trabajar en Ramas distintas
2. Dejar en la capeta envs/ML los respectivos environmentns

# Tareas
1. Regression to predict the purchase amount
2. Classfication to classify if a customer will buy 1 category or more than 1
3. Classify custoemrs by Marital_Status - Issac Will define what he will do

In [2]:
df_black_friday = pd.read_csv("train.csv")

In [6]:
df_black_friday.head(10)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,15854
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,15686
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871

In [5]:
df_black_friday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  object
 7   Marital_Status              550068 non-null  int64
 8   Product_Category_1          550068 non-null  int64
 9   Product_Category_2          376430 non-null  float64
 10  Product_Category_3          166821 non-null  float64
 11  Purchase                    550068 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB

In [11]:
df_black_friday[['Product_Category_2']].value_counts().reset_index()

    Product_Category_2  count
0                  8.0  64088
1                 14.0  55108
2                  2.0  49217
3                 16.0  43255
4                 15.0  37855
5                  5.0  26235
6                  4.0  25677
7                  6.0  16466
8                 11.0  14134
9                 17.0  13320
10                13.0  10531
11                 9.0   5693
12                12.0   5528
13                10.0   3043
14                 3.0   2884
15                18.0   2770
16                 7.0    626

In [12]:
df_black_friday[['Product_Category_3']].value_counts().reset_index()

    Product_Category_3  count
0                 16.0  32636
1                 15.0  28013
2                 14.0  18428
3                 17.0  16702
4                  5.0  16658
5                  8.0  12562
6                  9.0  11579
7                 12.0   9246
8                 13.0   5459
9                  6.0   4890
10                18.0   4629
11                 4.0   1875
12                11.0   1805
13                10.0   1726
14                 3.0    613

In [13]:
df_black_friday[['Product_Category_1']].value_counts().reset_index()

    Product_Category_1   count
0                    5  150933
1                    1  140378
2                    8  113925
3                   11   24287
4                    2   23864
5                    6   20466
6                    3   20213
7                    4   11753
8                   16    9828
9                   15    6290
10                  13    5549
11                  10    5125
12                  12    3947
13                   7    3721
14                  18    3125
15                  20    2550
16                  19    1603
17                  14    1523
18                  17     578
19                   9     410

There are a lot of missing values within the 2nd and 3th products categories -> How can we imput those missing values? should we delete them?